.bitcoin table tr td{
    border: 1px solid;
    padding: 5px 10px;
    text-align: left;
    font-family: "Agency FB", serif;
    font-size: 20px;
    border-radius: 3px;
}
.bitcoin table tr th{
    border-radius: 5px;
    border: 2px solid;
    padding: 5px 10px;
    font-family: arial, serif;
    font-size: 20px;
}
.bitcoin{
    margin-top: 50px;
}