.history{
    position: absolute;
    top: 15%;
}
.history table tr th{
    border: 1px solid;
    font-size: 25px;
    font-family: arial, serif;
    padding: 5px;
    width: 5%;
}
.history table{
    margin: 20px;
}
.history table tr td{
    border: 1px solid;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}